body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1749px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:859px;
}
#u689 {
  position:absolute;
  left:0px;
  top:56px;
  width:254px;
  height:859px;
}
#u690 {
  position:absolute;
  left:2px;
  top:422px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u691 {
  position:absolute;
  left:0px;
  top:157px;
  width:254px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u691_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u691.mouseOver {
}
#u691_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u691.selected {
}
#u692 {
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u693 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:82px;
}
#u694 {
  position:absolute;
  left:0px;
  top:191px;
  width:254px;
  height:82px;
}
#u694_img.mouseOver {
}
#u694.mouseOver {
}
#u694_img.selected {
}
#u694.selected {
}
#u695 {
  position:absolute;
  left:2px;
  top:33px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:27px;
}
#u696 {
  position:absolute;
  left:0px;
  top:191px;
  width:254px;
  height:27px;
  text-align:left;
}
#u696_img.mouseOver {
}
#u696.mouseOver {
}
#u696_img.selected {
}
#u696.selected {
}
#u697 {
  position:absolute;
  left:2px;
  top:6px;
  width:250px;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:27px;
}
#u698 {
  position:absolute;
  left:0px;
  top:246px;
  width:255px;
  height:27px;
  text-align:left;
}
#u698_img.mouseOver {
}
#u698.mouseOver {
}
#u698_img.selected {
}
#u698.selected {
}
#u699 {
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:27px;
}
#u700 {
  position:absolute;
  left:1px;
  top:218px;
  width:254px;
  height:27px;
  text-align:left;
}
#u700_img.mouseOver {
}
#u700.mouseOver {
}
#u700_img.selected {
}
#u700.selected {
}
#u701 {
  position:absolute;
  left:2px;
  top:6px;
  width:250px;
  word-wrap:break-word;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u702 {
  position:absolute;
  left:0px;
  top:56px;
  width:254px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u702_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u702.mouseOver {
}
#u702_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u702.selected {
}
#u703 {
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u704 {
  position:absolute;
  left:-1px;
  top:123px;
  width:255px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u704_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u704.mouseOver {
}
#u704_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u704.selected {
}
#u705 {
  position:absolute;
  left:2px;
  top:10px;
  width:251px;
  word-wrap:break-word;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u706 {
  position:absolute;
  left:0px;
  top:89px;
  width:254px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u706_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u706.mouseOver {
}
#u706_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u706.selected {
}
#u707 {
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1750px;
  height:57px;
}
#u708 {
  position:absolute;
  left:0px;
  top:0px;
  width:1750px;
  height:57px;
}
#u709 {
  position:absolute;
  left:2px;
  top:20px;
  width:1746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u710 {
  position:absolute;
  left:15px;
  top:18px;
  width:343px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u711 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:34px;
}
#u712 {
  position:absolute;
  left:254px;
  top:59px;
  width:24px;
  height:34px;
}
#u713 {
  position:absolute;
  left:2px;
  top:9px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u714 {
  position:absolute;
  left:1610px;
  top:20px;
  width:106px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u715 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u716 {
  position:absolute;
  left:1719px;
  top:26px;
  width:15px;
  height:10px;
}
#u717 {
  position:absolute;
  left:2px;
  top:-3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u719 {
  position:absolute;
  left:1589px;
  top:57px;
  width:161px;
  height:84px;
}
#u720 {
  position:absolute;
  left:2px;
  top:34px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:2px;
}
#u721 {
  position:absolute;
  left:1589px;
  top:99px;
  width:161px;
  height:1px;
}
#u722 {
  position:absolute;
  left:2px;
  top:-8px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u723 {
  position:absolute;
  left:1600px;
  top:71px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u723_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u723.mouseOver {
}
#u724 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u725 {
  position:absolute;
  left:1600px;
  top:110px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u725_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u725.mouseOver {
}
#u726 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u727 {
  position:absolute;
  left:278px;
  top:115px;
  width:905px;
  height:160px;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:51px;
}
#u728 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u729 {
  position:absolute;
  left:2px;
  top:16px;
  width:306px;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:51px;
}
#u730 {
  position:absolute;
  left:310px;
  top:0px;
  width:590px;
  height:51px;
  text-align:left;
}
#u731 {
  position:absolute;
  left:2px;
  top:18px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:53px;
}
#u732 {
  position:absolute;
  left:0px;
  top:51px;
  width:310px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u733 {
  position:absolute;
  left:2px;
  top:18px;
  width:306px;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:53px;
}
#u734 {
  position:absolute;
  left:310px;
  top:51px;
  width:590px;
  height:53px;
  text-align:left;
}
#u735 {
  position:absolute;
  left:2px;
  top:18px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:51px;
}
#u736 {
  position:absolute;
  left:0px;
  top:104px;
  width:310px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u737 {
  position:absolute;
  left:2px;
  top:18px;
  width:306px;
  word-wrap:break-word;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:51px;
}
#u738 {
  position:absolute;
  left:310px;
  top:104px;
  width:590px;
  height:51px;
  text-align:left;
}
#u739 {
  position:absolute;
  left:2px;
  top:18px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740 {
  position:absolute;
  left:603px;
  top:178px;
  width:554px;
  height:34px;
}
#u740_input {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:34px;
}
#u741 {
  position:absolute;
  left:595px;
  top:300px;
  width:54px;
  height:34px;
}
#u742 {
  position:absolute;
  left:2px;
  top:9px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:34px;
}
#u743 {
  position:absolute;
  left:684px;
  top:300px;
  width:54px;
  height:34px;
}
#u744 {
  position:absolute;
  left:2px;
  top:9px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745 {
  position:absolute;
  left:603px;
  top:125px;
  width:554px;
  height:34px;
}
#u745_input {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u746 {
  position:absolute;
  left:603px;
  top:229px;
  width:554px;
  height:34px;
}
#u746_input {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u747 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u748 {
  position:absolute;
  left:483px;
  top:397px;
  width:490px;
  height:171px;
}
#u749 {
  position:absolute;
  left:2px;
  top:78px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:2px;
}
#u750 {
  position:absolute;
  left:483px;
  top:445px;
  width:490px;
  height:1px;
}
#u751 {
  position:absolute;
  left:2px;
  top:-8px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:2px;
}
#u752 {
  position:absolute;
  left:483px;
  top:515px;
  width:490px;
  height:1px;
}
#u753 {
  position:absolute;
  left:2px;
  top:-8px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u754 {
  position:absolute;
  left:495px;
  top:414px;
  width:298px;
  height:16px;
}
#u755 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
#u756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u756 {
  position:absolute;
  left:494px;
  top:472px;
  width:469px;
  height:28px;
  line-height:20px;
}
#u757 {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  word-wrap:break-word;
}
#u758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u758 {
  position:absolute;
  left:941px;
  top:414px;
  width:15px;
  height:15px;
}
#u759 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:34px;
  background:inherit;
  background-color:rgba(77, 173, 218, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u760 {
  position:absolute;
  left:909px;
  top:525px;
  width:54px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u761 {
  position:absolute;
  left:2px;
  top:8px;
  width:50px;
  word-wrap:break-word;
}
#u762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u762 {
  position:absolute;
  left:282px;
  top:65px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u763 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u764_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:74px;
  height:5px;
}
#u764 {
  position:absolute;
  left:278px;
  top:85px;
  width:71px;
  height:2px;
}
#u765 {
  position:absolute;
  left:2px;
  top:-7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
