body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1749px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u702 {
  position:absolute;
  left:22px;
  top:61px;
  width:24px;
  height:30px;
}
#u703 {
  position:absolute;
  left:2px;
  top:7px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704 {
  position:absolute;
  left:-1px;
  top:56px;
}
#u704_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u704_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:859px;
}
#u705 {
  position:absolute;
  left:1px;
  top:0px;
  width:254px;
  height:859px;
}
#u706 {
  position:absolute;
  left:2px;
  top:422px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u707 {
  position:absolute;
  left:1px;
  top:101px;
  width:254px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u707_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u707.mouseOver {
}
#u707_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u707.selected {
}
#u708 {
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:82px;
}
#u710 {
  position:absolute;
  left:1px;
  top:135px;
  width:254px;
  height:82px;
}
#u710_img.mouseOver {
}
#u710.mouseOver {
}
#u710_img.selected {
}
#u710.selected {
}
#u711 {
  position:absolute;
  left:2px;
  top:33px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:27px;
}
#u712 {
  position:absolute;
  left:1px;
  top:162px;
  width:255px;
  height:27px;
  text-align:left;
}
#u712_img.mouseOver {
}
#u712.mouseOver {
}
#u712_img.selected {
}
#u712.selected {
}
#u713 {
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:27px;
}
#u714 {
  position:absolute;
  left:2px;
  top:135px;
  width:254px;
  height:27px;
  text-align:left;
}
#u714_img.mouseOver {
}
#u714.mouseOver {
}
#u714_img.selected {
}
#u714.selected {
}
#u715 {
  position:absolute;
  left:2px;
  top:6px;
  width:250px;
  word-wrap:break-word;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u716 {
  position:absolute;
  left:1px;
  top:0px;
  width:254px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u716_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u716.mouseOver {
}
#u716_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u716.selected {
}
#u717 {
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u718 {
  position:absolute;
  left:0px;
  top:67px;
  width:255px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u718_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u718.mouseOver {
}
#u718_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u718.selected {
}
#u719 {
  position:absolute;
  left:2px;
  top:10px;
  width:251px;
  word-wrap:break-word;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u720 {
  position:absolute;
  left:1px;
  top:33px;
  width:254px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u720_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u720.mouseOver {
}
#u720_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u720.selected {
}
#u721 {
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:34px;
}
#u722 {
  position:absolute;
  left:255px;
  top:3px;
  width:24px;
  height:34px;
}
#u723 {
  position:absolute;
  left:2px;
  top:9px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u704_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:265px;
}
#u724 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:265px;
}
#u725 {
  position:absolute;
  left:2px;
  top:124px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:170px;
  background:inherit;
  background-color:rgba(246, 245, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u726 {
  position:absolute;
  left:0px;
  top:137px;
  width:20px;
  height:170px;
}
#u727 {
  position:absolute;
  left:2px;
  top:77px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1750px;
  height:57px;
}
#u728 {
  position:absolute;
  left:0px;
  top:0px;
  width:1750px;
  height:57px;
}
#u729 {
  position:absolute;
  left:2px;
  top:20px;
  width:1746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u730 {
  position:absolute;
  left:15px;
  top:18px;
  width:343px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u731 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u732 {
  position:absolute;
  left:1281px;
  top:20px;
  width:106px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u733 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u734 {
  position:absolute;
  left:1394px;
  top:26px;
  width:15px;
  height:10px;
}
#u735 {
  position:absolute;
  left:2px;
  top:-3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u737 {
  position:absolute;
  left:1264px;
  top:57px;
  width:161px;
  height:84px;
}
#u738 {
  position:absolute;
  left:2px;
  top:34px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:2px;
}
#u739 {
  position:absolute;
  left:1264px;
  top:99px;
  width:161px;
  height:1px;
}
#u740 {
  position:absolute;
  left:2px;
  top:-8px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u741 {
  position:absolute;
  left:1275px;
  top:71px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u741_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u741.mouseOver {
}
#u742 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u743 {
  position:absolute;
  left:1275px;
  top:110px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u743_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u743.mouseOver {
}
#u744 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u745 {
  position:absolute;
  left:432px;
  top:234px;
  width:1px;
  height:16px;
}
#u746 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u747 {
  position:absolute;
  left:278px;
  top:115px;
  width:905px;
  height:160px;
}
#u748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:51px;
}
#u748 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u749 {
  position:absolute;
  left:2px;
  top:16px;
  width:306px;
  word-wrap:break-word;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:51px;
}
#u750 {
  position:absolute;
  left:310px;
  top:0px;
  width:590px;
  height:51px;
  text-align:left;
}
#u751 {
  position:absolute;
  left:2px;
  top:18px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:53px;
}
#u752 {
  position:absolute;
  left:0px;
  top:51px;
  width:310px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u753 {
  position:absolute;
  left:2px;
  top:18px;
  width:306px;
  word-wrap:break-word;
}
#u754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:53px;
}
#u754 {
  position:absolute;
  left:310px;
  top:51px;
  width:590px;
  height:53px;
  text-align:left;
}
#u755 {
  position:absolute;
  left:2px;
  top:18px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:51px;
}
#u756 {
  position:absolute;
  left:0px;
  top:104px;
  width:310px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u757 {
  position:absolute;
  left:2px;
  top:18px;
  width:306px;
  word-wrap:break-word;
}
#u758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:51px;
}
#u758 {
  position:absolute;
  left:310px;
  top:104px;
  width:590px;
  height:51px;
  text-align:left;
}
#u759 {
  position:absolute;
  left:2px;
  top:18px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u760 {
  position:absolute;
  left:603px;
  top:178px;
  width:554px;
  height:34px;
}
#u760_input {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:34px;
}
#u761 {
  position:absolute;
  left:595px;
  top:300px;
  width:54px;
  height:34px;
}
#u762 {
  position:absolute;
  left:2px;
  top:9px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:34px;
}
#u763 {
  position:absolute;
  left:684px;
  top:300px;
  width:54px;
  height:34px;
}
#u764 {
  position:absolute;
  left:2px;
  top:9px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u765 {
  position:absolute;
  left:603px;
  top:125px;
  width:554px;
  height:34px;
}
#u765_input {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u766 {
  position:absolute;
  left:603px;
  top:229px;
  width:554px;
  height:34px;
}
#u766_input {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u767 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u768 {
  position:absolute;
  left:483px;
  top:397px;
  width:490px;
  height:171px;
}
#u769 {
  position:absolute;
  left:2px;
  top:78px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:2px;
}
#u770 {
  position:absolute;
  left:483px;
  top:445px;
  width:490px;
  height:1px;
}
#u771 {
  position:absolute;
  left:2px;
  top:-8px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:2px;
}
#u772 {
  position:absolute;
  left:483px;
  top:515px;
  width:490px;
  height:1px;
}
#u773 {
  position:absolute;
  left:2px;
  top:-8px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u774 {
  position:absolute;
  left:495px;
  top:414px;
  width:298px;
  height:16px;
}
#u775 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
#u776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u776 {
  position:absolute;
  left:494px;
  top:472px;
  width:469px;
  height:28px;
  line-height:20px;
}
#u777 {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  word-wrap:break-word;
}
#u778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u778 {
  position:absolute;
  left:941px;
  top:414px;
  width:15px;
  height:15px;
}
#u779 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:34px;
  background:inherit;
  background-color:rgba(77, 173, 218, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u780 {
  position:absolute;
  left:909px;
  top:525px;
  width:54px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u781 {
  position:absolute;
  left:2px;
  top:8px;
  width:50px;
  word-wrap:break-word;
}
#u782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u782 {
  position:absolute;
  left:282px;
  top:65px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u783 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u784_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:74px;
  height:5px;
}
#u784 {
  position:absolute;
  left:278px;
  top:85px;
  width:71px;
  height:2px;
}
#u785 {
  position:absolute;
  left:2px;
  top:-7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
