body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1749px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:572px;
}
#u991 {
  position:absolute;
  left:0px;
  top:56px;
  width:158px;
  height:572px;
}
#u992 {
  position:absolute;
  left:2px;
  top:278px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:36px;
}
#u993 {
  position:absolute;
  left:174px;
  top:61px;
  width:900px;
  height:36px;
}
#u994 {
  position:absolute;
  left:2px;
  top:10px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:664px;
}
#u995 {
  position:absolute;
  left:1749px;
  top:11px;
  width:1px;
  height:663px;
}
#u996 {
  position:absolute;
  left:2px;
  top:324px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1750px;
  height:29px;
}
#u998 {
  position:absolute;
  left:0px;
  top:929px;
  width:1750px;
  height:29px;
}
#u999 {
  position:absolute;
  left:2px;
  top:6px;
  width:1746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:859px;
}
#u1001 {
  position:absolute;
  left:0px;
  top:56px;
  width:254px;
  height:859px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:422px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1003 {
  position:absolute;
  left:0px;
  top:157px;
  width:254px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1003_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1003.mouseOver {
}
#u1003_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1003.selected {
}
#u1004 {
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:82px;
}
#u1006 {
  position:absolute;
  left:0px;
  top:191px;
  width:254px;
  height:82px;
}
#u1006_img.mouseOver {
}
#u1006.mouseOver {
}
#u1006_img.selected {
}
#u1006.selected {
}
#u1007 {
  position:absolute;
  left:2px;
  top:33px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:27px;
}
#u1008 {
  position:absolute;
  left:0px;
  top:191px;
  width:254px;
  height:27px;
  text-align:left;
}
#u1008_img.mouseOver {
}
#u1008.mouseOver {
}
#u1008_img.selected {
}
#u1008.selected {
}
#u1009 {
  position:absolute;
  left:2px;
  top:6px;
  width:250px;
  word-wrap:break-word;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:27px;
}
#u1010 {
  position:absolute;
  left:0px;
  top:246px;
  width:255px;
  height:27px;
  text-align:left;
}
#u1010_img.mouseOver {
}
#u1010.mouseOver {
}
#u1010_img.selected {
}
#u1010.selected {
}
#u1011 {
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:27px;
}
#u1012 {
  position:absolute;
  left:1px;
  top:218px;
  width:254px;
  height:27px;
  text-align:left;
}
#u1012_img.mouseOver {
}
#u1012.mouseOver {
}
#u1012_img.selected {
}
#u1012.selected {
}
#u1013 {
  position:absolute;
  left:2px;
  top:6px;
  width:250px;
  word-wrap:break-word;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1014 {
  position:absolute;
  left:0px;
  top:56px;
  width:254px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1014_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1014.mouseOver {
}
#u1014_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1014.selected {
}
#u1015 {
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1016 {
  position:absolute;
  left:-1px;
  top:123px;
  width:255px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1016_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1016.mouseOver {
}
#u1016_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1016.selected {
}
#u1017 {
  position:absolute;
  left:2px;
  top:10px;
  width:251px;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1018 {
  position:absolute;
  left:0px;
  top:89px;
  width:254px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1018_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1018.mouseOver {
}
#u1018_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
  background:inherit;
  background-color:rgba(46, 164, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1018.selected {
}
#u1019 {
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1750px;
  height:57px;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:1750px;
  height:57px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:20px;
  width:1746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1022 {
  position:absolute;
  left:15px;
  top:18px;
  width:343px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:34px;
}
#u1024 {
  position:absolute;
  left:254px;
  top:59px;
  width:24px;
  height:34px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:9px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u1026 {
  position:absolute;
  left:1610px;
  top:20px;
  width:106px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u1027 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u1028 {
  position:absolute;
  left:1719px;
  top:26px;
  width:15px;
  height:10px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:-3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1031 {
  position:absolute;
  left:1589px;
  top:57px;
  width:161px;
  height:84px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:34px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:2px;
}
#u1033 {
  position:absolute;
  left:1589px;
  top:99px;
  width:161px;
  height:1px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:-8px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1035 {
  position:absolute;
  left:1600px;
  top:71px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u1035_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1035.mouseOver {
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1037 {
  position:absolute;
  left:1600px;
  top:110px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u1037_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1037.mouseOver {
}
#u1038 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1750px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1039 {
  position:absolute;
  left:0px;
  top:635px;
  width:1750px;
  height:35px;
}
#u1040 {
  position:absolute;
  left:2px;
  top:10px;
  width:1746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1041 {
  position:absolute;
  left:282px;
  top:71px;
  width:185px;
  height:16px;
}
#u1042 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u1043 {
  position:absolute;
  left:276px;
  top:115px;
  width:905px;
  height:253px;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:51px;
}
#u1044 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1045 {
  position:absolute;
  left:2px;
  top:18px;
  width:306px;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:51px;
}
#u1046 {
  position:absolute;
  left:310px;
  top:0px;
  width:590px;
  height:51px;
  text-align:left;
}
#u1047 {
  position:absolute;
  left:2px;
  top:18px;
  width:586px;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:53px;
}
#u1048 {
  position:absolute;
  left:0px;
  top:51px;
  width:310px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1049 {
  position:absolute;
  left:2px;
  top:18px;
  width:306px;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:53px;
}
#u1050 {
  position:absolute;
  left:310px;
  top:51px;
  width:590px;
  height:53px;
  text-align:left;
}
#u1051 {
  position:absolute;
  left:2px;
  top:18px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:73px;
}
#u1052 {
  position:absolute;
  left:0px;
  top:104px;
  width:310px;
  height:73px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1053 {
  position:absolute;
  left:2px;
  top:28px;
  width:306px;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:73px;
}
#u1054 {
  position:absolute;
  left:310px;
  top:104px;
  width:590px;
  height:73px;
  text-align:left;
}
#u1055 {
  position:absolute;
  left:2px;
  top:28px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:71px;
}
#u1056 {
  position:absolute;
  left:0px;
  top:177px;
  width:310px;
  height:71px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1057 {
  position:absolute;
  left:2px;
  top:28px;
  width:306px;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:71px;
}
#u1058 {
  position:absolute;
  left:310px;
  top:177px;
  width:590px;
  height:71px;
  text-align:left;
}
#u1059 {
  position:absolute;
  left:2px;
  top:28px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060 {
  position:absolute;
  left:601px;
  top:178px;
  width:554px;
  height:34px;
}
#u1060_input {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1061 {
  position:absolute;
  left:601px;
  top:232px;
  width:554px;
  height:49px;
}
#u1061_input {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:49px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1062 {
  position:absolute;
  left:607px;
  top:321px;
  width:70px;
  height:16px;
}
#u1063 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u1062_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1064 {
  position:absolute;
  left:717px;
  top:321px;
  width:100px;
  height:16px;
}
#u1065 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1064_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:34px;
}
#u1066 {
  position:absolute;
  left:601px;
  top:407px;
  width:54px;
  height:34px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:9px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:34px;
}
#u1068 {
  position:absolute;
  left:690px;
  top:407px;
  width:54px;
  height:34px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:9px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
