body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1749px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:57px;
}
#u2029 {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:57px;
}
#u2030 {
  position:absolute;
  left:2px;
  top:20px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2031 {
  position:absolute;
  left:15px;
  top:18px;
  width:343px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2032 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:572px;
}
#u2033 {
  position:absolute;
  left:0px;
  top:56px;
  width:158px;
  height:572px;
}
#u2034 {
  position:absolute;
  left:2px;
  top:278px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:36px;
}
#u2035 {
  position:absolute;
  left:174px;
  top:61px;
  width:900px;
  height:36px;
}
#u2036 {
  position:absolute;
  left:2px;
  top:10px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:34px;
}
#u2037 {
  position:absolute;
  left:1020px;
  top:63px;
  width:54px;
  height:34px;
}
#u2038 {
  position:absolute;
  left:2px;
  top:9px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2039 {
  position:absolute;
  left:0px;
  top:628px;
  width:1074px;
  height:35px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:10px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:664px;
}
#u2041 {
  position:absolute;
  left:1073px;
  top:0px;
  width:1px;
  height:663px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:324px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2043 {
  position:absolute;
  left:180px;
  top:71px;
  width:121px;
  height:16px;
}
#u2044 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:530px;
}
#u2045 {
  position:absolute;
  left:376px;
  top:99px;
  width:1px;
  height:529px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:256px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2047 {
  position:absolute;
  left:417px;
  top:107px;
  width:400px;
  height:30px;
}
#u2047_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:406px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2048 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:35px;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2051 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2053 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2055 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:2px;
}
#u2057 {
  position:absolute;
  left:406px;
  top:144px;
  width:648px;
  height:1px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:-8px;
  width:644px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:31px;
}
#u2059 {
  position:absolute;
  left:844px;
  top:106px;
  width:47px;
  height:31px;
}
#u2060 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2061 {
  position:absolute;
  left:406px;
  top:208px;
  width:653px;
  height:238px;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:46px;
}
#u2062 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2063 {
  position:absolute;
  left:2px;
  top:15px;
  width:138px;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:46px;
}
#u2064 {
  position:absolute;
  left:142px;
  top:0px;
  width:506px;
  height:46px;
  text-align:left;
}
#u2065 {
  position:absolute;
  left:2px;
  top:15px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:44px;
}
#u2066 {
  position:absolute;
  left:0px;
  top:46px;
  width:142px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2067 {
  position:absolute;
  left:2px;
  top:14px;
  width:138px;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:44px;
}
#u2068 {
  position:absolute;
  left:142px;
  top:46px;
  width:506px;
  height:44px;
  text-align:left;
}
#u2069 {
  position:absolute;
  left:2px;
  top:14px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:43px;
}
#u2070 {
  position:absolute;
  left:0px;
  top:90px;
  width:142px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2071 {
  position:absolute;
  left:2px;
  top:14px;
  width:138px;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:43px;
}
#u2072 {
  position:absolute;
  left:142px;
  top:90px;
  width:506px;
  height:43px;
  text-align:left;
}
#u2073 {
  position:absolute;
  left:2px;
  top:14px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:50px;
}
#u2074 {
  position:absolute;
  left:0px;
  top:133px;
  width:142px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2075 {
  position:absolute;
  left:2px;
  top:17px;
  width:138px;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:50px;
}
#u2076 {
  position:absolute;
  left:142px;
  top:133px;
  width:506px;
  height:50px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:17px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:50px;
}
#u2078 {
  position:absolute;
  left:0px;
  top:183px;
  width:142px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2079 {
  position:absolute;
  left:2px;
  top:17px;
  width:138px;
  word-wrap:break-word;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:50px;
}
#u2080 {
  position:absolute;
  left:142px;
  top:183px;
  width:506px;
  height:50px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:17px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082 {
  position:absolute;
  left:564px;
  top:348px;
  width:482px;
  height:34px;
}
#u2082_input {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2083 {
  position:absolute;
  left:406px;
  top:153px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u2084 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:2px;
}
#u2085 {
  position:absolute;
  left:406px;
  top:181px;
  width:648px;
  height:1px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:-8px;
  width:644px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:36px;
}
#u2087 {
  position:absolute;
  left:621px;
  top:467px;
  width:55px;
  height:36px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:10px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
}
#u2089 {
  position:absolute;
  left:686px;
  top:468px;
  width:54px;
  height:35px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091 {
  position:absolute;
  left:564px;
  top:407px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2092 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2091_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2093 {
  position:absolute;
  left:655px;
  top:407px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2094 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2093_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2095 {
  position:absolute;
  left:564px;
  top:304px;
  width:482px;
  height:34px;
}
#u2095_input {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2096 {
  position:absolute;
  left:564px;
  top:260px;
  width:482px;
  height:34px;
}
#u2096_input {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2097 {
  position:absolute;
  left:564px;
  top:216px;
  width:482px;
  height:34px;
}
#u2097_input {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:8px;
}
#u2098 {
  position:absolute;
  left:206px;
  top:238px;
  width:25px;
  height:8px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:-4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:8px;
}
#u2100 {
  position:absolute;
  left:206px;
  top:238px;
  width:25px;
  height:8px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:-4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:57px;
}
#u2102 {
  position:absolute;
  left:195px;
  top:253px;
  width:159px;
  height:57px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:20px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:57px;
}
#u2104 {
  position:absolute;
  left:195px;
  top:183px;
  width:159px;
  height:57px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:20px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:223px;
}
#u2106 {
  position:absolute;
  left:241px;
  top:204px;
  width:109px;
  height:223px;
}
#u2107 {
  position:absolute;
  left:2px;
  top:104px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2108 {
  position:absolute;
  left:238px;
  top:180px;
  width:100px;
  height:16px;
}
#u2109 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2108_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:86px;
}
#u2110 {
  position:absolute;
  left:171px;
  top:110px;
  width:169px;
  height:86px;
}
#u2111 {
  position:absolute;
  left:2px;
  top:35px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2112 {
  position:absolute;
  left:255px;
  top:204px;
  width:57px;
  height:16px;
}
#u2113 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2114 {
  position:absolute;
  left:255px;
  top:230px;
  width:57px;
  height:16px;
}
#u2115 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:8px;
}
#u2116 {
  position:absolute;
  left:206px;
  top:238px;
  width:25px;
  height:8px;
}
#u2117 {
  position:absolute;
  left:2px;
  top:-4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:14px;
}
#u2118 {
  position:absolute;
  left:224px;
  top:329px;
  width:115px;
  height:14px;
}
#u2119 {
  position:absolute;
  left:2px;
  top:-1px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:39px;
}
#u2120 {
  position:absolute;
  left:241px;
  top:321px;
  width:90px;
  height:39px;
}
#u2121 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2122 {
  position:absolute;
  left:241px;
  top:327px;
  width:57px;
  height:16px;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u2124 {
  position:absolute;
  left:238px;
  top:180px;
  width:81px;
  height:23px;
}
#u2125 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2126 {
  position:absolute;
  left:238px;
  top:180px;
  width:57px;
  height:16px;
}
#u2127 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2128 {
  position:absolute;
  left:255px;
  top:273px;
  width:113px;
  height:16px;
}
#u2129 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2130 {
  position:absolute;
  left:255px;
  top:296px;
  width:57px;
  height:16px;
}
#u2131 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2132 {
  position:absolute;
  left:238px;
  top:251px;
  width:57px;
  height:16px;
}
#u2133 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:57px;
}
#u2134 {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:57px;
}
#u2135 {
  position:absolute;
  left:2px;
  top:20px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2136 {
  position:absolute;
  left:0px;
  top:56px;
  width:158px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2137 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u2138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2138 {
  position:absolute;
  left:0px;
  top:161px;
  width:158px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2139 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:53px;
}
#u2141 {
  position:absolute;
  left:0px;
  top:195px;
  width:158px;
  height:53px;
}
#u2142 {
  position:absolute;
  left:2px;
  top:18px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:27px;
}
#u2143 {
  position:absolute;
  left:0px;
  top:195px;
  width:158px;
  height:27px;
  text-align:left;
}
#u2144 {
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u2145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:27px;
}
#u2145 {
  position:absolute;
  left:-1px;
  top:221px;
  width:158px;
  height:27px;
  text-align:left;
}
#u2146 {
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u2147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2147 {
  position:absolute;
  left:0px;
  top:90px;
  width:158px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2148 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u2149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2149 {
  position:absolute;
  left:-1px;
  top:125px;
  width:158px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2150 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u2151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:53px;
}
#u2152 {
  position:absolute;
  left:-1px;
  top:161px;
  width:158px;
  height:53px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:18px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:27px;
}
#u2154 {
  position:absolute;
  left:-2px;
  top:161px;
  width:158px;
  height:27px;
  text-align:left;
}
#u2155 {
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u2156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:27px;
}
#u2156 {
  position:absolute;
  left:-2px;
  top:187px;
  width:158px;
  height:27px;
  text-align:left;
}
#u2157 {
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u2159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1750px;
  height:29px;
}
#u2159 {
  position:absolute;
  left:0px;
  top:929px;
  width:1750px;
  height:29px;
}
#u2160 {
  position:absolute;
  left:2px;
  top:6px;
  width:1746px;
  visibility:hidden;
  word-wrap:break-word;
}
