body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1749px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:57px;
}
#u1953 {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:57px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:20px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1955 {
  position:absolute;
  left:15px;
  top:18px;
  width:343px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1956 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:572px;
}
#u1957 {
  position:absolute;
  left:0px;
  top:56px;
  width:158px;
  height:572px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:278px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:36px;
}
#u1959 {
  position:absolute;
  left:174px;
  top:61px;
  width:900px;
  height:36px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:10px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:34px;
}
#u1961 {
  position:absolute;
  left:1020px;
  top:63px;
  width:54px;
  height:34px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:9px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1963 {
  position:absolute;
  left:0px;
  top:628px;
  width:1074px;
  height:35px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:10px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:664px;
}
#u1965 {
  position:absolute;
  left:1073px;
  top:0px;
  width:1px;
  height:663px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:324px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1967 {
  position:absolute;
  left:180px;
  top:71px;
  width:121px;
  height:16px;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:530px;
}
#u1969 {
  position:absolute;
  left:376px;
  top:99px;
  width:1px;
  height:529px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:256px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971 {
  position:absolute;
  left:417px;
  top:107px;
  width:400px;
  height:30px;
}
#u1971_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:406px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:35px;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1973 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1975 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1977 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1979 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:2px;
}
#u1981 {
  position:absolute;
  left:406px;
  top:144px;
  width:648px;
  height:1px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:-8px;
  width:644px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:31px;
}
#u1983 {
  position:absolute;
  left:844px;
  top:106px;
  width:47px;
  height:31px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985 {
  position:absolute;
  left:406px;
  top:208px;
  width:653px;
  height:238px;
}
#u1986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:46px;
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1987 {
  position:absolute;
  left:2px;
  top:15px;
  width:138px;
  word-wrap:break-word;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:46px;
}
#u1988 {
  position:absolute;
  left:142px;
  top:0px;
  width:506px;
  height:46px;
  text-align:left;
}
#u1989 {
  position:absolute;
  left:2px;
  top:15px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:44px;
}
#u1990 {
  position:absolute;
  left:0px;
  top:46px;
  width:142px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1991 {
  position:absolute;
  left:2px;
  top:14px;
  width:138px;
  word-wrap:break-word;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:44px;
}
#u1992 {
  position:absolute;
  left:142px;
  top:46px;
  width:506px;
  height:44px;
  text-align:left;
}
#u1993 {
  position:absolute;
  left:2px;
  top:14px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:43px;
}
#u1994 {
  position:absolute;
  left:0px;
  top:90px;
  width:142px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1995 {
  position:absolute;
  left:2px;
  top:14px;
  width:138px;
  word-wrap:break-word;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:43px;
}
#u1996 {
  position:absolute;
  left:142px;
  top:90px;
  width:506px;
  height:43px;
  text-align:left;
}
#u1997 {
  position:absolute;
  left:2px;
  top:14px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:50px;
}
#u1998 {
  position:absolute;
  left:0px;
  top:133px;
  width:142px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1999 {
  position:absolute;
  left:2px;
  top:17px;
  width:138px;
  word-wrap:break-word;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:50px;
}
#u2000 {
  position:absolute;
  left:142px;
  top:133px;
  width:506px;
  height:50px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:17px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:50px;
}
#u2002 {
  position:absolute;
  left:0px;
  top:183px;
  width:142px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2003 {
  position:absolute;
  left:2px;
  top:17px;
  width:138px;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:50px;
}
#u2004 {
  position:absolute;
  left:142px;
  top:183px;
  width:506px;
  height:50px;
}
#u2005 {
  position:absolute;
  left:2px;
  top:17px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2006 {
  position:absolute;
  left:564px;
  top:348px;
  width:482px;
  height:34px;
}
#u2006_input {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2007 {
  position:absolute;
  left:406px;
  top:153px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u2008 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:2px;
}
#u2009 {
  position:absolute;
  left:406px;
  top:181px;
  width:648px;
  height:1px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:-8px;
  width:644px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:36px;
}
#u2011 {
  position:absolute;
  left:621px;
  top:467px;
  width:55px;
  height:36px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:10px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
}
#u2013 {
  position:absolute;
  left:686px;
  top:468px;
  width:54px;
  height:35px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015 {
  position:absolute;
  left:564px;
  top:407px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2016 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2015_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2017 {
  position:absolute;
  left:655px;
  top:407px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2018 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2017_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2019 {
  position:absolute;
  left:564px;
  top:304px;
  width:482px;
  height:34px;
}
#u2019_input {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2020 {
  position:absolute;
  left:564px;
  top:260px;
  width:482px;
  height:34px;
}
#u2020_input {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2021 {
  position:absolute;
  left:564px;
  top:216px;
  width:482px;
  height:34px;
}
#u2021_input {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:8px;
}
#u2022 {
  position:absolute;
  left:206px;
  top:238px;
  width:25px;
  height:8px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:-4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:8px;
}
#u2024 {
  position:absolute;
  left:206px;
  top:238px;
  width:25px;
  height:8px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:-4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:57px;
}
#u2026 {
  position:absolute;
  left:195px;
  top:253px;
  width:159px;
  height:57px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:20px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:57px;
}
#u2028 {
  position:absolute;
  left:195px;
  top:183px;
  width:159px;
  height:57px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:20px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:223px;
}
#u2030 {
  position:absolute;
  left:241px;
  top:204px;
  width:109px;
  height:223px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:104px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032 {
  position:absolute;
  left:238px;
  top:180px;
  width:100px;
  height:16px;
}
#u2033 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2032_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:86px;
}
#u2034 {
  position:absolute;
  left:171px;
  top:110px;
  width:169px;
  height:86px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:35px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2036 {
  position:absolute;
  left:255px;
  top:204px;
  width:57px;
  height:16px;
}
#u2037 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2038 {
  position:absolute;
  left:255px;
  top:230px;
  width:57px;
  height:16px;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:8px;
}
#u2040 {
  position:absolute;
  left:206px;
  top:238px;
  width:25px;
  height:8px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:-4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:14px;
}
#u2042 {
  position:absolute;
  left:224px;
  top:329px;
  width:115px;
  height:14px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:-1px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:39px;
}
#u2044 {
  position:absolute;
  left:241px;
  top:321px;
  width:90px;
  height:39px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2046 {
  position:absolute;
  left:241px;
  top:327px;
  width:57px;
  height:16px;
}
#u2047 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u2048 {
  position:absolute;
  left:238px;
  top:180px;
  width:81px;
  height:23px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2050 {
  position:absolute;
  left:238px;
  top:180px;
  width:57px;
  height:16px;
}
#u2051 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2052 {
  position:absolute;
  left:255px;
  top:273px;
  width:113px;
  height:16px;
}
#u2053 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2054 {
  position:absolute;
  left:255px;
  top:296px;
  width:57px;
  height:16px;
}
#u2055 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2056 {
  position:absolute;
  left:238px;
  top:251px;
  width:57px;
  height:16px;
}
#u2057 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:57px;
}
#u2058 {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:57px;
}
#u2059 {
  position:absolute;
  left:2px;
  top:20px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2060 {
  position:absolute;
  left:0px;
  top:56px;
  width:158px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2061 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2062 {
  position:absolute;
  left:0px;
  top:161px;
  width:158px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2063 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u2064 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:53px;
}
#u2065 {
  position:absolute;
  left:0px;
  top:195px;
  width:158px;
  height:53px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:18px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:27px;
}
#u2067 {
  position:absolute;
  left:0px;
  top:195px;
  width:158px;
  height:27px;
  text-align:left;
}
#u2068 {
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:27px;
}
#u2069 {
  position:absolute;
  left:-1px;
  top:221px;
  width:158px;
  height:27px;
  text-align:left;
}
#u2070 {
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2071 {
  position:absolute;
  left:0px;
  top:90px;
  width:158px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2072 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u2073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2073 {
  position:absolute;
  left:-1px;
  top:125px;
  width:158px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2074 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:53px;
}
#u2076 {
  position:absolute;
  left:-1px;
  top:161px;
  width:158px;
  height:53px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:18px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:27px;
}
#u2078 {
  position:absolute;
  left:-2px;
  top:161px;
  width:158px;
  height:27px;
  text-align:left;
}
#u2079 {
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:27px;
}
#u2080 {
  position:absolute;
  left:-2px;
  top:187px;
  width:158px;
  height:27px;
  text-align:left;
}
#u2081 {
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1750px;
  height:29px;
}
#u2083 {
  position:absolute;
  left:0px;
  top:929px;
  width:1750px;
  height:29px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:6px;
  width:1746px;
  visibility:hidden;
  word-wrap:break-word;
}
