body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1749px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:57px;
}
#u1832 {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:57px;
}
#u1833 {
  position:absolute;
  left:2px;
  top:20px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1834 {
  position:absolute;
  left:15px;
  top:18px;
  width:343px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1835 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u1836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:572px;
}
#u1836 {
  position:absolute;
  left:0px;
  top:56px;
  width:158px;
  height:572px;
}
#u1837 {
  position:absolute;
  left:2px;
  top:278px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:36px;
}
#u1838 {
  position:absolute;
  left:174px;
  top:61px;
  width:900px;
  height:36px;
}
#u1839 {
  position:absolute;
  left:2px;
  top:10px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:34px;
}
#u1840 {
  position:absolute;
  left:1020px;
  top:63px;
  width:54px;
  height:34px;
}
#u1841 {
  position:absolute;
  left:2px;
  top:9px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1842 {
  position:absolute;
  left:0px;
  top:628px;
  width:1074px;
  height:35px;
}
#u1843 {
  position:absolute;
  left:2px;
  top:10px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:664px;
}
#u1844 {
  position:absolute;
  left:1073px;
  top:0px;
  width:1px;
  height:663px;
}
#u1845 {
  position:absolute;
  left:2px;
  top:324px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1846 {
  position:absolute;
  left:180px;
  top:71px;
  width:121px;
  height:16px;
}
#u1847 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:530px;
}
#u1848 {
  position:absolute;
  left:376px;
  top:99px;
  width:1px;
  height:529px;
}
#u1849 {
  position:absolute;
  left:2px;
  top:256px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850 {
  position:absolute;
  left:417px;
  top:107px;
  width:400px;
  height:30px;
}
#u1850_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:406px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1851 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:35px;
}
#u1852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1852 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u1853 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1854 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u1855 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1856 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u1857 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1858 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u1859 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:2px;
}
#u1860 {
  position:absolute;
  left:406px;
  top:144px;
  width:648px;
  height:1px;
}
#u1861 {
  position:absolute;
  left:2px;
  top:-8px;
  width:644px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:31px;
}
#u1862 {
  position:absolute;
  left:844px;
  top:106px;
  width:47px;
  height:31px;
}
#u1863 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1864 {
  position:absolute;
  left:406px;
  top:208px;
  width:653px;
  height:188px;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:46px;
}
#u1865 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1866 {
  position:absolute;
  left:2px;
  top:15px;
  width:138px;
  word-wrap:break-word;
}
#u1867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:46px;
}
#u1867 {
  position:absolute;
  left:142px;
  top:0px;
  width:506px;
  height:46px;
  text-align:left;
}
#u1868 {
  position:absolute;
  left:2px;
  top:15px;
  width:502px;
  word-wrap:break-word;
}
#u1869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:44px;
}
#u1869 {
  position:absolute;
  left:0px;
  top:46px;
  width:142px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1870 {
  position:absolute;
  left:2px;
  top:14px;
  width:138px;
  word-wrap:break-word;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:44px;
}
#u1871 {
  position:absolute;
  left:142px;
  top:46px;
  width:506px;
  height:44px;
  text-align:left;
}
#u1872 {
  position:absolute;
  left:2px;
  top:14px;
  width:502px;
  word-wrap:break-word;
}
#u1873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:43px;
}
#u1873 {
  position:absolute;
  left:0px;
  top:90px;
  width:142px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1874 {
  position:absolute;
  left:2px;
  top:14px;
  width:138px;
  word-wrap:break-word;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:43px;
}
#u1875 {
  position:absolute;
  left:142px;
  top:90px;
  width:506px;
  height:43px;
  text-align:left;
}
#u1876 {
  position:absolute;
  left:2px;
  top:14px;
  width:502px;
  word-wrap:break-word;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:50px;
}
#u1877 {
  position:absolute;
  left:0px;
  top:133px;
  width:142px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1878 {
  position:absolute;
  left:2px;
  top:17px;
  width:138px;
  word-wrap:break-word;
}
#u1879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:50px;
}
#u1879 {
  position:absolute;
  left:142px;
  top:133px;
  width:506px;
  height:50px;
}
#u1880 {
  position:absolute;
  left:2px;
  top:17px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1881 {
  position:absolute;
  left:564px;
  top:348px;
  width:482px;
  height:34px;
}
#u1881_input {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:34px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1882 {
  position:absolute;
  left:406px;
  top:153px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u1883 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:2px;
}
#u1884 {
  position:absolute;
  left:406px;
  top:181px;
  width:648px;
  height:1px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:-8px;
  width:644px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:36px;
}
#u1886 {
  position:absolute;
  left:621px;
  top:417px;
  width:55px;
  height:36px;
}
#u1887 {
  position:absolute;
  left:2px;
  top:10px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
}
#u1888 {
  position:absolute;
  left:686px;
  top:418px;
  width:54px;
  height:35px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:8px;
}
#u1890 {
  position:absolute;
  left:206px;
  top:238px;
  width:25px;
  height:8px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:-4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:8px;
}
#u1892 {
  position:absolute;
  left:206px;
  top:238px;
  width:25px;
  height:8px;
}
#u1893 {
  position:absolute;
  left:2px;
  top:-4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:57px;
}
#u1894 {
  position:absolute;
  left:195px;
  top:253px;
  width:159px;
  height:57px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:20px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:57px;
}
#u1896 {
  position:absolute;
  left:195px;
  top:183px;
  width:159px;
  height:57px;
}
#u1897 {
  position:absolute;
  left:2px;
  top:20px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:223px;
}
#u1898 {
  position:absolute;
  left:241px;
  top:204px;
  width:109px;
  height:223px;
}
#u1899 {
  position:absolute;
  left:2px;
  top:104px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1900 {
  position:absolute;
  left:238px;
  top:180px;
  width:100px;
  height:16px;
}
#u1901 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1900_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:86px;
}
#u1902 {
  position:absolute;
  left:171px;
  top:110px;
  width:169px;
  height:86px;
}
#u1903 {
  position:absolute;
  left:2px;
  top:35px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1904 {
  position:absolute;
  left:255px;
  top:204px;
  width:57px;
  height:16px;
}
#u1905 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1906 {
  position:absolute;
  left:255px;
  top:230px;
  width:57px;
  height:16px;
}
#u1907 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:8px;
}
#u1908 {
  position:absolute;
  left:206px;
  top:238px;
  width:25px;
  height:8px;
}
#u1909 {
  position:absolute;
  left:2px;
  top:-4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:14px;
}
#u1910 {
  position:absolute;
  left:224px;
  top:329px;
  width:115px;
  height:14px;
}
#u1911 {
  position:absolute;
  left:2px;
  top:-1px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:39px;
}
#u1912 {
  position:absolute;
  left:241px;
  top:321px;
  width:90px;
  height:39px;
}
#u1913 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1914 {
  position:absolute;
  left:241px;
  top:327px;
  width:57px;
  height:16px;
}
#u1915 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u1916 {
  position:absolute;
  left:238px;
  top:180px;
  width:81px;
  height:23px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1918 {
  position:absolute;
  left:238px;
  top:180px;
  width:57px;
  height:16px;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1920 {
  position:absolute;
  left:255px;
  top:273px;
  width:113px;
  height:16px;
}
#u1921 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1922 {
  position:absolute;
  left:255px;
  top:296px;
  width:57px;
  height:16px;
}
#u1923 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1924 {
  position:absolute;
  left:238px;
  top:251px;
  width:57px;
  height:16px;
}
#u1925 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:57px;
}
#u1926 {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:57px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:20px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1928 {
  position:absolute;
  left:0px;
  top:56px;
  width:158px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1929 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u1930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1930 {
  position:absolute;
  left:0px;
  top:161px;
  width:158px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1931 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u1932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:53px;
}
#u1933 {
  position:absolute;
  left:0px;
  top:195px;
  width:158px;
  height:53px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:18px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:27px;
}
#u1935 {
  position:absolute;
  left:0px;
  top:195px;
  width:158px;
  height:27px;
  text-align:left;
}
#u1936 {
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:27px;
}
#u1937 {
  position:absolute;
  left:-1px;
  top:221px;
  width:158px;
  height:27px;
  text-align:left;
}
#u1938 {
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u1939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1939 {
  position:absolute;
  left:0px;
  top:90px;
  width:158px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1940 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u1941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1941 {
  position:absolute;
  left:-1px;
  top:125px;
  width:158px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1942 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:53px;
}
#u1944 {
  position:absolute;
  left:-1px;
  top:161px;
  width:158px;
  height:53px;
}
#u1945 {
  position:absolute;
  left:2px;
  top:18px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:27px;
}
#u1946 {
  position:absolute;
  left:-2px;
  top:161px;
  width:158px;
  height:27px;
  text-align:left;
}
#u1947 {
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:27px;
}
#u1948 {
  position:absolute;
  left:-2px;
  top:187px;
  width:158px;
  height:27px;
  text-align:left;
}
#u1949 {
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1750px;
  height:29px;
}
#u1951 {
  position:absolute;
  left:0px;
  top:929px;
  width:1750px;
  height:29px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:6px;
  width:1746px;
  visibility:hidden;
  word-wrap:break-word;
}
